In [13]:
# PCA
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sklearn.decomposition import PCA


def split_scalar(X,y):
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train,X_test,y_train, y_test

def perform_pca(X_train, n):
    pca = PCA(n_components = n)
    X_train_pca = pca.fit_transform(X_train)
    explained_variance = pca.explained_variance_ratio_
    return  pca,X_train_pca,explained_variance

def logistic(X_train, y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return cm,accuracy,classifier

def svm_linear(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier
           
def svm_NL(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Navie(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier         
    
    
def knn(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Decision(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier     


def random(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def cm_predition (classifier,X_test):
    y_pred = classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
    from sklearn.metrics import accuracy_score
    accuracy= accuracy_score(y_test, y_pred)
    return cm,accuracy,classifier

def pca_merge(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand): 
    dataframe=pd.DataFrame(index=['PCA n=6'],columns=['Logistic','SVMlin','SVMNL','Navie','KNN','DT','RF'])
    for number,index in enumerate(dataframe.index):      
        dataframe['Logistic'][index]=acclog[number]
        dataframe['SVMlin'][index]=accsvmlin[number] 
        dataframe['SVMNL'][index]=accsvmnl[number] 
        dataframe['Navie'][index]=accnav[number] 
        dataframe['KNN'][index]=accknn[number] 
        dataframe['DT'][index]=accdec[number] 
        dataframe['RF'][index]=accrand[number] 
    return dataframe

# Importing the dataset
dataset = pd.read_csv('Wine.csv')
X = dataset.iloc[:, 0:13].values
y = dataset.iloc[:, 13].values

pca,X_train_pca,explained_variance = perform_pca(X, 6)
# created a empty list to append the final value
acclog=[]
accsvmlin=[]
accsvmnl=[]
accnav=[]
accknn=[]
accdec=[]
accrand=[]

X_train, X_test, y_train, y_test=split_scalar(X_train_pca,y) 

cm,accuracy,classifier=logistic(X_train,y_train,X_test)
acclog.append(accuracy)

cm,accuracy,classifier=svm_linear(X_train,y_train,X_test)
accsvmlin.append(accuracy)

cm,accuracy,classifier=svm_NL(X_train,y_train,X_test)
accsvmnl.append(accuracy)

cm,accuracy,classifier=Navie(X_train,y_train,X_test)
accnav.append(accuracy)

cm,accuracy,classifier=knn(X_train,y_train,X_test)
accknn.append(accuracy)

cm,accuracy,classifier=Decision(X_train,y_train,X_test)
accdec.append(accuracy)

cm,accuracy,classifier=random(X_train,y_train,X_test)
accrand.append(accuracy)

result = pca_merge(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand)

In [27]:
result

         Logistic    SVMlin SVMNL Navie       KNN        DT        RF
PCA n=1  0.777778  0.777778  0.75  0.75  0.694444  0.694444  0.694444

In [30]:
result

         Logistic    SVMlin     SVMNL     Navie       KNN        DT        RF
PCA n=2  0.777778  0.777778  0.805556  0.777778  0.722222  0.722222  0.777778

In [32]:
result

         Logistic    SVMlin     SVMNL     Navie       KNN        DT        RF
PCA n=3  0.888889  0.888889  0.888889  0.861111  0.805556  0.861111  0.861111

In [35]:
result

         Logistic    SVMlin     SVMNL     Navie       KNN        DT        RF
PCA n=4  0.916667  0.916667  0.944444  0.944444  0.916667  0.916667  0.972222

In [37]:
result

         Logistic    SVMlin SVMNL     Navie       KNN        DT        RF
PCA n=5  0.944444  0.944444   1.0  0.972222  0.972222  0.944444  0.916667

In [14]:
result

         Logistic    SVMlin SVMNL     Navie       KNN        DT        RF
PCA n=6  0.944444  0.944444   1.0  0.972222  0.944444  0.916667  0.916667